USE [master]
GO
/****** Object:  Database [sc101_Analytics]    Script Date: 07/03/2021 00:52:30 ******/
CREATE DATABASE [sc101_Analytics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sc101_Analytics', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\sc101_Analytics.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sc101_Analytics_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\sc101_Analytics_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sc101_Analytics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sc101_Analytics]
GO
/****** Object:  Table [dbo].[LiveRequests]    Script Date: 07/03/2021 00:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiveRequests](
	[Id] [uniqueidentifier] NOT NULL,
	[IpAddress] [varchar](max) NOT NULL,
	[Country] [varchar](max) NULL,
	[City] [varchar](max) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[DeviceType] [int] NOT NULL,
	[BrowserName] [varchar](max) NOT NULL,
	[BrowserVersion] [varchar](max) NOT NULL,
	[RawUrl] [varchar](max) NOT NULL,
	[ReferrerUrl] [varchar](max) NULL,
	[LastInteractionOn] [datetime] NOT NULL,
 CONSTRAINT [PK_LiveRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LiveRequests] ADD  CONSTRAINT [DF_LiveRequests_Id]  DEFAULT (newid()) FOR [Id]
GO
USE [master]
GO
