<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentDelivery">
        <pipelines>
            <mvc.requestBegin>
                <processor patch:after="*[@type='Sitecore.Mvc.Analytics.Pipelines.MvcEvents.RequestBegin.StartTracking, Sitecore.Mvc.Analytics']"
                           type="TeamNoesis.Feature.Analytics.Pipelines.SaveLiveRequest, TeamNoesis.Feature.Analytics" />
            </mvc.requestBegin>
        </pipelines>
    </sitecore>
</configuration>